<div id="resultContainer">

    <form id="newRiderForm">
        <div id="formDiv">
            <button class="b" id="new-rider">New Rider</button>
            <label>Name</label>
            <input class="c" type="text" id="newRiderName">
            <label>DOB</label>
            <input class="e" type="date" id="newRiderDate">
        </div>
    </form>

    <hr>

    <div class="d">

        <div id="square">
            <div>
                <label>Guests</label>
                <input class="a" type="text">
                <label>Points</label>
                <input class="e" type="text">
            </div>
            <% for (let i=1; i <=8; i++) { %>

                <div id="halfSquare">
                    <div id="labelId">
                        <label>Nr <%= i %> </label>
                    </div>
                    <div id="inputId">
                        <input type="text" id="Rnr<%= i %>" list="datalist1" class="rdsInput">
                        <datalist id="datalist1">
                            <% for (let k=0; k <riders.length; k++) { %>
                                <option value="<%= riders[k] %> ">
                                    <% } %>
                        </datalist>
                    </div>
                    <div style="clear:both"></div>
                </div>

                <div id="halfSquare">
                    <div id="labelId">
                        <label>Points</label>
                    </div>
                    <div id="inputId">
                        <% for (let j=0; j < 5; j++) { %>
                            <input type="text" id="Rnr<%= i%>Pnr<%= j+1%>" class="ptsInput">
                            <% } %>
                    </div>
                </div>

                <% } %>
        </div>

        <div id="square">
            <div>
                <label>Home</label>
                <input class="a" type="text">
                <label>Points</label>
                <input class="e" type="text">
            </div>
            <% for (let i=9; i <=16; i++) { %>

                <div id="halfSquare">
                    <div id="labelId">
                        <label>Nr <%= i %> </label>
                    </div>
                    <div id="inputId">
                        <input type="text" id="Rnr<%= i %>" list="datalist1" class="rdsInput">
                        <datalist id="datalist1">
                            <% for (let k=0; k <riders.length; k++) { %>
                                <option value="<%= riders[k] %> ">
                                    <% } %>
                        </datalist>
                    </div>
                    <div style="clear:both"></div>
                </div>

                <div id="halfSquare">
                    <div id="labelId">
                        <label>Points</label>
                    </div>
                    <div id="inputId">
                        <% for (let j=0; j < 5; j++) { %>
                            <input type="text" id="Rnr<%= i%>Pnr<%= j+1%>" class="ptsInput">
                            <% } %>
                    </div>
                </div>

                <% } %>
        </div>

        <div style="clear:both"></div>

        <div style="text-align: center;">
            <button class='b' id="get-result">Confirm</button>
        </div>

    </div>

    <hr>

    <div id="algorithmContainer">

        <div class="d">
            <div id="table"></div>
            <div id="square" style="text-align: center;">
                <button class="b2" id="restart-button">Restart</button>
            </div>
            <div id="square" style="text-align: center;">
                <button class="b2" id="update-button">Update</button>
            </div>
            <div style="clear:both"></div>
            
        </div>

            <hr>

            <div class="d">
                <div id="teamLeft"></div>
                <div id="teamRight"></div>
                <div style="clear:both"></div>
            </div>



        
    </div>

    <hr>

    <div class="d">
        <div id="square" style="text-align: center;">
            <button class="b2" id="finish-button">Finish</button>
        </div>
        <div id="square" style="text-align: center;">
            <button class="b2" id="save-button">Save</button>
        </div>
        <div style="clear:both"></div>
    </div>

</div>